html{
    font-size: 16px;
}

@font-face {
    font-family: 'Satoshi';
    src: url("Satoshi-Regular.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi-bold';
    src: url(Satoshi-Bold.otf);
    font-weight: normal;
    font-style: normal;
}

.font-style-header{
    font-family: "Satoshi", serif;
    text-align: center;

}

.logo{
    font-family: "Satoshi", serif;
    font-size: 3rem;
}

.font-style-video{
    font-family: "Satoshi", serif;
}

.font-style-header6{
    font-family: "Satoshi", serif;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.button-navbar4{
    flex: auto;
    max-width: 150px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;
    border-radius: 2.25rem;
    box-shadow: inset 0 0 0 2px white;
    border-color: #e8e8e8;
}

.button-navbar4:hover{
    background-color: #0A86F8;
    box-shadow: inset 0 0 0 0px white;
}

#videoDiv {width: 100%; height: auto; position: relative; overflow: hidden;}
#video1 { margin: auto; display: block;}
#videoMessage { position: absolute; top: 0; left: 0;
display: flex;
flex-direction: column; 
justify-content: center;
align-items: center; 
width: 100%;
height: 100%;}

.messagevideo1{
	gap: -10rem;
}

.message1{
	font-family: "Satoshi-bold", serif;
	font-size: 10rem;
	font-weight: bold;
	background: var(--Grey-Gradient-Exclusion, linear-gradient(180deg, #FFF 53%, rgba(255, 255, 255, 0.00) 100%));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	mix-blend-mode: exclusion;
	letter-spacing: -0.7rem;
	margin-bottom: -5rem;
}

.message2{
	text-align: center;
    font-family: "Satoshi", serif;
    color: #ffffff;
    top:0;
    left:0;
    z-index:1;
    font-size: 1.75rem;
}

.videoMessage1{
	position: absolute; top: 0; left: 0;
display: flex;
flex-direction: column; 
justify-content: center;
align-items: center; 
width: 100%;
height: 100%;
	gap: 2.5rem;
}

.message3{
	border-radius: 2rem;
    background: var(--Ocean-Blue, #0A86F8);
    color: #e8e8e8;
	padding: 1rem 2rem;
    font-family: "Satoshi", serif;
	font-size: 1.5rem;
    box-shadow: inset 0 0 0 2px white;
    border-color: #e8e8e8;
}

.about-product-title{
	text-align: center;
	font-family: "Satoshi", sans-serif;
	font-weight: 900;
    font-size: 3rem;
	padding-top: 2vw;
	padding-bottom: 2vw;
}

.connect-text{
    color: #000;
    text-align: center;
    
    /* Icon box Header */
    font-family: Satoshi;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    margin-top: 30rem;
    margin-left: 6.5rem;
}

.connect-text1{
    color: #000;
    text-align: center;
    
    /* Nav Text */
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 32.8rem;
}

.monitor-text{
    color: #000;
    text-align: center;
    
    /* Icon box Header */
    font-family: Satoshi;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    margin-top: 30rem;
    margin-left: 7rem;
}

.monitor-text1{
    color: #000;
    text-align: center;
    
    /* Nav Text */
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 32.8rem;
}

.save-text{
    color: #000;
    text-align: center;
    
    /* Icon box Header */
    font-family: Satoshi;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    margin-top: 30rem;
    margin-left: 8rem;
}

.save-text1{
    color: #000;
    text-align: center;
    
    /* Nav Text */
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 32.8rem;
}

.pricing{
    color: var(--Ocean-Blue, #0A86F8);

    /* Body Text */
    font-family: Satoshi;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.below-pricing{
    color: #000;
    font-family: Satoshi;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.below-below-pricing{
    color: #000;

    /* Body Text */
    font-family: Satoshi;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 50%;
}