* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container class to center the content and provide padding */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: inline;
    /* padding-left: 80px; */
}

/* Row class to create a flex container */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

/* Column class to create equal width columns */
.col {
    flex: 1;
    padding: 15px;
}

/* .cols{
    padding-right: 10px;
} */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #0d131c;
}

header {
    background-color: transparent;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
}

.top-bar h1{
    color: #fdfbfb;
    font-size: 40px; 
}

.navbar ul li {
    display: inline;
    margin-left: 20px;
    position: relative;
    /* list-style: none; */
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.4s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

main {
    /* margin-top: 2px; */
    padding: 20px;
}

.about-us{
    color: #fff;
}

.about-us h3{
    padding-top: 50px;
}

.what-we-do h1{
    color: #fff;
}
footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.aboutp{
    color: #f2f2f2;
}

.aboutp1{
    color: #fefdfd;
    padding-top: 70px;
}
.logo{
    width: 20px;
    height: 20px;
}

.name{
    font-size: 2rem;
    color:#fff;
}

#contact{
    padding-top: 1000px;
}

.graph{
    width: 100%;
    height: 200%;
}

#lander{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75));
    background-size: cover;
    background-position: center;
}

.content1{
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #060000;
}

.content1 h1{
    font-size: 30px;
    margin-top: 290px;
    color: #fefdfd;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 1px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fffdfd;
    cursor: pointer;
    position: relative;
    overflow: hidden; 
}

span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.4s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}
/* .lander-img{
    width: 100%;
    border-width: 100px;
    border-color: brown;
    padding: 10px;
    padding-top: 5%;
    filter: contrast(150%);
    filter: saturate(160%);
    filter: brightness(90%);
} */

.users-feedback{
    padding: 7px 120px;
    background-color: #0d131c;
    /* display: inline; */
}

.users-feedback h1{
    color: #fdfbfb;
}

.users-feedback p, h5, small{
    color: #fdfbfb;
}

.user-review{
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(168, 168, 198, 0.2);
    padding-bottom: 50px; 
    margin-right: 15px;
    /* display: inline; */
}

.user-review p{
    padding: 0px 10px 10px 10px;
}
.users-feedback img{
    width: 60px; 
    height: 60px;
    border-radius: 50%;
    position: relative;
    margin: -30px 0 20px 40%;
}


.lap{
    margin-left: -100px;
    font-size: 2rem;
}

#lodq{
    font-size: 3rem;
}

.footer1{
    padding: 100px 200px;
    background-image: linear-gradient(#2d557d,#9610fd);
    color: #fff;
}
.footerLogo{
    color: #fff;
    /* width: 150px */
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer1 h4{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 25px;
    padding-left: 60px;
}

.footer1 p{
    font-size: 12px;
    text-align: justify;
    padding-right: 35px;
    padding-left: 60px;
}
.footer1 .row .fa{
    padding-right: 20px;
    font-size: 15px;    
}
