* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  top: 0;
  width: 100%;
  overflow-x: hidden;
}

.main{
	flex-direction: column;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 9999;
    display: block;
	margin: auto;
    width: 100%;
    height: 0;
    font-size: 17px;
	background-color: #00000000;

}

.navbar-links {
  display: flex;
  width: 100%;
  padding: 0.23rem 8rem;
  align-items: center;
  z-index: 100;
  left: 100rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  background-color: #00000000;
}

.button-navbar{
	display: flex;
	padding: 16px 32px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex: 2 0 0;
	border-radius: 36px;
}

.video-container{
  width: 100%;
  height: 100%;
  top: 0;
}

.text-overlay{
	height: 50rem;
}

.about-product{
	background-color: #FFF;
}

.connect-monitor-save{
	background-color: #FFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 4rem;
}

.connect{
	height: 25vw;
	width: 20%;
	border-radius: 16px 16px 0px 0px;
	background: linear-gradient(0deg, #FFF 0%, #0A86F8 100%);
}

.monitor{
	height: 25vw;
	width: 20%;
	border-radius: 16px 16px 0px 0px;
	background: linear-gradient(0deg, #FFF 0%, #0A86F8 100%);
}

.save{
	height: 25vw;
	width: 20%;
	border-radius: 16px 16px 0px 0px;
	background: linear-gradient(0deg, #FFF 0%, #0A86F8 100%);
}

.connect-monitor-save1{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 1 0 0;
}

.y{
	background-color: #FFF;
	height: 12rem;
}

.selling-temp{
	display: flex;
}

.selling{
	background-color: #FFF;
	align-items: center;
	width: 100%;
	margin: auto;
	height: 40rem;
}

.pricing-temp{
	display: flex;
	gap: 1rem;
	flex-direction: row-reverse;
	position: relative;
	align-items: center;
}

.pricing-div{
	width: 50%;
}

.pricing-img-temp{
	display: flex;
	margin: auto;
}

.pricing-img{
	border-radius: 16px;
	background: #B4B4B4;
	height: 25vw;
	width: 20rem;

}

.product-video{
	display: flex;
	padding: 120px 140px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	align-self: stretch;
	background: linear-gradient(180deg, #0A86F8 0%, #000 100%);
	height: 60rem;
}

.prototype-video{
	height: 568px;
	align-self: stretch;
	border-radius: 8px;
	background-color: #FFF;
}

#video2{
	width: 100%;
	height: 100%;
}

.panidedoimg{
	display: flex;
	padding: 120px 140px;
	justify-content: center;
	align-items: center;
	align-self: stretch;
	background: url("img-pt2.png") lightgray 50% / cover no-repeat;
}

.panidedokeandarkasaman{
	display: flex;
	padding: 35px 36px;
	flex-direction: column;
	align-items: flex-start;
	gap: 40px;
	flex: 1 0 0;
	border-radius: 16px;
	border: 1px solid rgba(255, 255, 255, 0.34);
	background: rgba(255, 255, 255, 0.14);
	backdrop-filter: blur(104.6500015258789px);
}

.panibutton{
	display: flex;
	min-width: 160px;
	padding: 16px 32px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex: 1 0 0;
	border-radius: 36px;
	background: var(--Ocean-Blue, #0A86F8);
}

.panidedokeandarkasaman1{
	border-radius: 16px;
	border: 1px solid rgba(255, 255, 255, 0.34);
	background: rgba(255, 255, 255, 0.14);
	backdrop-filter: blur(17.100000381469727px);
	display: flex;
	padding: 35px 36px;
	flex-direction: column;
	align-items: flex-start;
	gap: 40px;
	flex: 1 0 0;
	opacity: 0;
}

.user-review{
	display: flex;
	padding: 120px 140px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	align-self: stretch;
	background: #021323;
	overflow: hidden;
}

.review-heading{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
	align-self: stretch;
}

.review-scroll1{
	display: flex;
	width: 827px;
	padding: 40px;
	justify-content: center;
	align-items: center;
	gap: 80px;
	align-self: stretch;
	border-radius: 16px;
	background: rgba(10, 134, 248, 0.17);
}

.img-body{
    display: flex;
    width: 308px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
}

.scroll{
	display: flex;
	align-items: center;
	gap: 80px;

}

.footer{
	display: flex;
	padding: 60px 140px 20px 140px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	align-self: stretch;
	background: #FFF;
}

.footer-main{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
	align-self: stretch;
}

.footer-main1{
	display: flex;
	padding: 20px 0px;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	flex: 1 0 0;
	border-top: 1px solid #B1B1B1;
}

.footer-main2{
	display: flex;
	padding: 20px 0px;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	flex: 1 0 0;
	border-top: 1px solid #B1B1B1;
}

.footer-main3{
	display: flex;
	padding: 20px 0px;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	flex: 1 0 0;
	border-top: 1px solid #B1B1B1;
}
