h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(#ffffff, #ffffff00);
  background-clip: var(#000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: exclusion;
}

body{
  background-color: rgb(0, 0, 0);
}