.homepage {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.homepage .div {
  background-color: #ffffff;
  width: 1440px;
  height: 4383px;
  position: relative;
}

.homepage .frame {
  display: flex;
  flex-direction: column;
  width: 1440px;
  align-items: flex-start;
  gap: 10px;
  padding: 120px 140px;
  position: absolute;
  top: 838px;
  left: 0;
}

.homepage .frame-2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.homepage .frame-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.homepage .frame-4 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 392px;
  border-radius: 15px;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(153, 153, 153) 100%);
}

.homepage .frame-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.homepage .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--icon-box-header-font-family);
  font-weight: var(--icon-box-header-font-weight);
  color: #000000;
  font-size: var(--icon-box-header-font-size);
  text-align: center;
  letter-spacing: var(--icon-box-header-letter-spacing);
  line-height: var(--icon-box-header-line-height);
  font-style: var(--icon-box-header-font-style);
}

.homepage .p {
  position: relative;
  align-self: stretch;
  font-family: var(--nav-text-font-family);
  font-weight: var(--nav-text-font-weight);
  color: #000000;
  font-size: var(--nav-text-font-size);
  text-align: center;
  letter-spacing: var(--nav-text-letter-spacing);
  line-height: var(--nav-text-line-height);
  font-style: var(--nav-text-font-style);
}

.homepage .record-and-observe {
  position: relative;
  align-self: stretch;
  font-family: var(--nav-text-font-family);
  font-weight: var(--nav-text-font-weight);
  color: transparent;
  font-size: var(--nav-text-font-size);
  text-align: center;
  letter-spacing: var(--nav-text-letter-spacing);
  line-height: var(--nav-text-line-height);
  font-style: var(--nav-text-font-style);
}

.homepage .span {
  color: #000000;
  font-family: var(--nav-text-font-family);
  font-style: var(--nav-text-font-style);
  font-weight: var(--nav-text-font-weight);
  letter-spacing: var(--nav-text-letter-spacing);
  line-height: var(--nav-text-line-height);
  font-size: var(--nav-text-font-size);
}

.homepage .text-wrapper-2 {
  color: #0a85f7;
  font-family: var(--nav-text-font-family);
  font-style: var(--nav-text-font-style);
  font-weight: var(--nav-text-font-weight);
  letter-spacing: var(--nav-text-letter-spacing);
  line-height: var(--nav-text-line-height);
  font-size: var(--nav-text-font-size);
}

.homepage .overlap-group {
  position: absolute;
  width: 1440px;
  height: 838px;
  top: 0;
  left: 0;
}

.homepage .frame-wrapper {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 838px;
  align-items: center;
  justify-content: center;
  padding: 240px 140px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
}

.homepage .frame-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.homepage .frame-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.homepage .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  background-blend-mode: exclusion;
  background: linear-gradient(180deg, rgb(255, 255, 255) 53%, rgba(255, 255, 255, 0) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Satoshi-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 160px;
  text-align: center;
  letter-spacing: -11.2px;
  line-height: normal;
}

.homepage .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #ffffff;
  font-size: var(--body-text-font-size);
  text-align: center;
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  font-style: var(--body-text-font-style);
}

.homepage .regular-buttons {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 32px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--ocean-blue);
  border-radius: 36px;
}

.homepage .sign-in {
  position: relative;
  width: fit-content;
  margin-top: -2px;
  font-family: var(--button-text-font-family);
  font-weight: var(--button-text-font-weight);
  color: #ffffff;
  font-size: var(--button-text-font-size);
  letter-spacing: var(--button-text-letter-spacing);
  line-height: var(--button-text-line-height);
  font-style: var(--button-text-font-style);
}

.homepage .frame-8 {
  display: flex;
  width: 1440px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 140px;
  position: absolute;
  top: 0;
  left: 0;
}

.homepage .sign-in-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 32px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border-radius: 36px;
}

.homepage .text-wrapper-5 {
  width: fit-content;
  position: relative;
  margin-top: -2px;
  font-family: var(--button-text-font-family);
  font-weight: var(--button-text-font-weight);
  color: #b1b1b1;
  font-size: var(--button-text-font-size);
  letter-spacing: var(--button-text-letter-spacing);
  line-height: var(--button-text-line-height);
  font-style: var(--button-text-font-style);
}

.homepage .text-wrapper-6 {
  position: relative;
  flex: 1;
  align-self: stretch;
  margin-top: -1px;
  background-blend-mode: exclusion;
  font-family: "Satoshi-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  letter-spacing: -2.8px;
  line-height: normal;
}

.homepage .div-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 32px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border-radius: 36px;
  border: 2px solid;
  border-color: #e8e8e8;
}

.homepage .text-wrapper-7 {
  width: 73px;
  text-align: center;
  position: relative;
  margin-top: -2px;
  font-family: var(--button-text-font-family);
  font-weight: var(--button-text-font-weight);
  color: #b1b1b1;
  font-size: var(--button-text-font-size);
  letter-spacing: var(--button-text-letter-spacing);
  line-height: var(--button-text-line-height);
  font-style: var(--button-text-font-style);
}

.homepage .frame-9 {
  position: absolute;
  width: 668px;
  height: 376px;
  top: 1611px;
  left: 140px;
  background-color: #c7c7c7;
  border-radius: 8px;
}

.homepage .button {
  all: unset;
  box-sizing: border-box;
  top: 2007px;
  left: 316px;
  background-color: var(--ocean-blue);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 32px;
  position: absolute;
  border-radius: 36px;
}

.homepage .regular-buttons-2 {
  top: 1697px;
  left: 839px;
  border: 2px solid;
  border-color: #e8e8e8;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 32px;
  position: absolute;
  border-radius: 36px;
}
