:root {
  --ocean-blue: rgba(10, 134, 248, 1);
  --button-text-font-family: "Satoshi", Helvetica;
  --button-text-font-weight: 400;
  --button-text-font-size: 24px;
  --button-text-letter-spacing: 0px;
  --button-text-line-height: normal;
  --button-text-font-style: normal;
  --button-text-bold-font-family: "Satoshi", Helvetica;
  --button-text-bold-font-weight: 700;
  --button-text-bold-font-size: 24px;
  --button-text-bold-letter-spacing: 0px;
  --button-text-bold-line-height: normal;
  --button-text-bold-font-style: normal;
  --nav-text-font-family: "Satoshi", Helvetica;
  --nav-text-font-weight: 400;
  --nav-text-font-size: 16px;
  --nav-text-letter-spacing: 0px;
  --nav-text-line-height: normal;
  --nav-text-font-style: normal;
  --body-text-font-family: "Satoshi", Helvetica;
  --body-text-font-weight: 400;
  --body-text-font-size: 28px;
  --body-text-letter-spacing: 0px;
  --body-text-line-height: normal;
  --body-text-font-style: normal;
  --icon-box-header-font-family: "Satoshi", Helvetica;
  --icon-box-header-font-weight: 700;
  --icon-box-header-font-size: 32px;
  --icon-box-header-letter-spacing: 0px;
  --icon-box-header-line-height: normal;
  --icon-box-header-font-style: normal;
}
